bin
obj
*.suo
.DS_Store
Bin
ClientBin
Backup
backup
*.rar
*.mdf
*.LDF
*.ldf
*.db
*.svn
*.git
*.hg
Tests
debug
_ReSharper.*
*.user
*.testsettings
*.vsmdi
TestResults
nuget-pack
*.nuspec
*.nupkg
logs
/Linkknil.Web/logs
