<a href="@(Model ==null ? Url.Action("New"): Url.Action("New", Model)) " class="iframe" rel="modal">
	<img src="../../Content/images/icons/new.png" title="新建" alt="新建" width="36px" height="36px" /> 
</a>
