 
<a href="@(Model == null ? Url.Action("BatchDelete") : Url.Action("BatchDelete", Model))" rel="batch-delete">
	<img src="../../Content/images/icons/delete.png" title="删除" alt="删除" width="36px" height="36px" /> 
</a>
