<div id="footer">
	<div id="footer-nav-wrapper"> 
		CoolCode &#169; @Html.Copyright(2009)&nbsp;|&nbsp;
		@Html.ActionLink("关于", "About", "Home")&nbsp;|&nbsp;
		@Html.ActionLink("帮助", "Help", "Home")  
	</div>
</div>
