@{
    Layout = "~/Views/Shared/_Site.cshtml";
	ViewBag.Title = "关于CoolCode";
}
    <h2>关于CoolCode</h2>
    <p>
        博客：<a href="http://www.cnblogs.com/coolcode" target="_blank" title="CoolCode">http://www.cnblogs.com/coolcode</a>
    </p>
    <p>
		邮箱：<a href="mailto:coolcode@live.com" target="_blank" title="CoolCode">coolcode@live.com</a> 
    </p> 
