@model App
<div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">
        <fieldset>
            <legend></legend>
            <p>
                <label class="field">应用名称</label>
                @Model.Name
            </p>
        </fieldset>
        <div class="clear">
        </div>
    </div>
</div>
