<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--log-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net configSource="config\log.config" />
  <connectionStrings>
    <!--Membership-->
    <add name="Membership" connectionString="Data Source=.; Initial Catalog=xLinkknil;User ID=sa;Password=pass@word1;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--Business-->
    <add name="DefaultContext" connectionString="Data Source=.; Initial Catalog=xLinkknil;User ID=sa;Password=pass@word1;Persist Security Info=true" providerName="System.Data.SqlClient" />
    <!--NoSQL-->
    <add name="CloudBird" connectionString="Url=https://ec2-eu1.cloudbird.net/Databases/b70bbacc-8148-4f2c-8d3d-ecf02e5bd30a.icons;ApiKey=33bf4010-f3b9-4f55-9824-283d4c6cec5c" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--阿里云-->
    <add key="Aliyun_ApiKey" value="Ll34PbhSwexHzluW" />
    <add key="Aliyun_ApiSecret" value="75hnDpmf8gfQIYfeAMgYi22AFnIqcE" />
    <!--NoSQL-->
    <add key="MongoDB" value="mongodb://appharbor_a6938e8d-794c-48b5-ab5f-3df10bb8c92e:2hnuvm1g6aubfrcc0uqeg9ufb5@ds037977.mongolab.com:37977/appharbor_a6938e8d-794c-48b5-ab5f-3df10bb8c92e" />
    <!--log-->
    <add key="LOGENTRIES_TOKEN" value="d6852fbd-343d-4f70-8efd-fc5bd7ab7a45" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/LogOn" timeout="2880" />
    </authentication>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="30000">
        <databases>
          <add name="SqlCache" connectionStringName="DefaultContext" />
        </databases>
      </sqlCacheDependency>
      <!-- 如果是SqlServer2005的话，则只需如下设置，因为SqlServer支持基于通知的缓存失效
      <sqlCacheDependency enabled="true" />
      -->
    </caching>
    <!--******************** ASP.NET Default Membership ******************** -->
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear />
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider,System.Web.Providers" connectionStringName="Membership" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider,System.Web.Providers" connectionStringName="Membership" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".MVCROLES" defaultProvider="DefaultRoleProvider">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider,System.Web.Providers" connectionStringName="Membership" applicationName="/" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <customErrors mode="Off" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Home/NotFound" />
    </customErrors>
    <!--******************** End Membership ******************** -->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="CoolCode" />
        <add namespace="CoolCode.Linq" />
        <add namespace="CoolCode.Web.Mvc" />
        <add namespace="CoolCode.Web.Mvc.Html" />
        <add namespace="CoolCode.ServiceModel.Services" />
        <add namespace="CoolCode.ServiceModel.Mvc" />
        <add namespace="Linkknil.Entities" />
        <add namespace="Linkknil.Web.Models" />
      </namespaces>
    </pages>
    <globalization culture="zh-cn" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>