<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--log-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net configSource="config\log.config" />
  <connectionStrings>
    <add name="Membership"
         connectionString="Server=8ee4b015-cc5e-4841-b66c-77d91bd900f2.sqlserver.sequelizer.com;Database=db4175;User ID=db4175;Password=ETXpBptPufxqtfDv6d44YVPbmEcE5ngXaQ4oxws6iMU7cspp8uj2JTvReWc5nWSh;"
         providerName="System.Data.SqlClient" MultipleActiveResultSets="True"/>
    <add name="DefaultContext"
         connectionString="Server=8ee4b015-cc5e-4841-b66c-77d91bd900f2.sqlserver.sequelizer.com;Database=db4175;User ID=db4175;Password=ETXpBptPufxqtfDv6d44YVPbmEcE5ngXaQ4oxws6iMU7cspp8uj2JTvReWc5nWSh;"
         providerName="System.Data.SqlClient" MultipleActiveResultSets="True"/>
    <!--Membership-->
    <add name="Membership2" connectionString="Data Source=.; Initial Catalog=xLinkknil_v4;User ID=sa;Password=pass@word1;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--Business-->
    <add name="DefaultContext2" connectionString="Data Source=.; Initial Catalog=xLinkknil_v4;User ID=sa;Password=pass@word1;Persist Security Info=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/LogOn" timeout="2880" />
    </authentication>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="30000">
        <databases>
          <add name="SqlCache" connectionStringName="DefaultContext" />
        </databases>
      </sqlCacheDependency>
      <!-- 如果是SqlServer2005的话，则只需如下设置，因为SqlServer支持基于通知的缓存失效
      <sqlCacheDependency enabled="true" />
      -->
    </caching>
    <!--******************** ASP.NET Default Membership ******************** -->
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear />
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider,System.Web.Providers" connectionStringName="Membership" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider,System.Web.Providers" connectionStringName="Membership" applicationName="/" />
      </providers>
      <properties>
        <add name="DisplayName" allowAnonymous="true" />
        <add name="FirstName" />
        <add name="LastName" />
        <add name="Location" />
        <add name="Birthday" type="System.DateTime" />
        <add name="Avatar" />
        <add name="Address" />
        <add name="Mobile" />
        <add name="Phone" />
        <add name="QQ" />
        <add name="Email" />
        <add name="WebSite" />
        <add name="Language" />
        <add name="TimeZone" />
        <add name="Theme" />
        <add name="Points" type="System.Int32" defaultValue="0" />
        <group name="Ent">
          <add name="TotalPosts" type="System.Int32" defaultValue="0" />
          <add name="TotalThreads" type="System.Int32" defaultValue="0" />
        </group>
      </properties>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".MVCROLES" defaultProvider="DefaultRoleProvider">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider,System.Web.Providers" connectionStringName="Membership" applicationName="/" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <customErrors mode="Off" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Home/NotFound" />
    </customErrors>
    <!--******************** End Membership ******************** -->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="CoolCode" />
        <add namespace="CoolCode.Linq" />
        <add namespace="CoolCode.Web.Mvc" />
        <add namespace="CoolCode.Web.Mvc.Html" />
        <add namespace="CoolCode.ServiceModel.Services" />
        <add namespace="CoolCode.ServiceModel.Mvc" />
        <add namespace="Linkknil.Entities" />
        <add namespace="Linkknil.Web.Models" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>