<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <connectionStrings>
    <add name="DefaultContext" connectionString="Data Source=.; Initial Catalog=xLinkknil_v4;User ID=sa;Password=pass@word1;Persist Security Info=true" providerName="System.Data.SqlClient" />
    <add name="CloudBird" connectionString="Url=https://ec2-eu1.cloudbird.net/Databases/b70bbacc-8148-4f2c-8d3d-ecf02e5bd30a.icons;ApiKey=33bf4010-f3b9-4f55-9824-283d4c6cec5c" />
  </connectionStrings>
  <appSettings>
    <add key="Sina_ApiKey" value="coolcode" />
    <add key="Sina_ApiSecret" value="dTdVhwzbEtRPXRZwcpSVLEhR3Nv6WVtK" />
    <add key="Aliyun_ApiKey" value="ACSVLU5jazgTr5kR" />
    <add key="Aliyun_ApiSecret" value="T4eVOeqAmG" />
    <add key="SEARCHBOX_URL" value="http://api.searchbox.io/api-key/e142cecff642b3981902e226c1ac895b" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>-->
</configuration>