<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultContext" connectionString="Data Source=.; Initial Catalog=xLinkknil_v4;User ID=sa;Password=pass@word1;Persist Security Info=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Sina_ApiKey" value="coolcode" />
    <add key="Sina_ApiSecret" value="dTdVhwzbEtRPXRZwcpSVLEhR3Nv6WVtK" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>